.timer {
  align-items: start;
  display: flex;
  flex-direction: column;
  /* padding-left: 8px; */
}

.time-container {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 4px;
  flex-direction: row;
  width: 10em;
}

.timer-time {
  /* text-align: center; */
  font-size: 3em;
  color: black;
  z-index: 1;
  width: 6em;
}

.timer-timezone {
  opacity: 0.5;
  filter: blur(4px);
  color: white;
  font-size: 10em;
  position: absolute;
  z-index: 0;
}
