.titlebar {
  align-items: center;
  display: flex;
  height: 30px;
  user-select: none;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.titlebar-button {
  visibility: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
.titlebar-button:hover {
  background: #5bbec3;
}

.titlebar-title {
  visibility: hidden;
}

.titlebar:hover .titlebar-button {
  visibility: visible;
}
.titlebar:hover .titlebar-title {
  visibility: visible;
}
